html {
    width: 100%;/* ширина контента, т.е. содержимого блока; */
max-width: 1024px; /* ширина контента, т.е. содержимого блока; */
}

h1 {
    color: black; /* цвет*/
    text-align: center; 
    border: 20px red; /*толщина границ*/
    font-family: Arial, Helvetica, sans-serif; /*шрифт*/
}
.fig {
    width: 52%;   /* ширина контента, т.е. содержимого блока; */
    height: auto;  /*высота*/
    margin-right: 20px; /*отступ с права*/
    }
.one {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    }    
blockquote {
        margin: 0; /*отступ*/
        background: white; /* фон*/
        border-top: 5px solid #EAF9F9; /*границы*/
        border-bottom: 5px solid #EAF9F9; /*границы*/
        color: #3A3C55; /* цыет*/
        position: relative;
        font-family: Arial, Helvetica, sans-serif; /*шрифт*/
        font-weight: 300;
}
.about-me {
    width: 100%;       /* ширина контента, т.е. содержимого блока; */
max-width: 1024px;    /* ширина контента, т.е. содержимого блока; */
    padding: 10px;    /*— поле слева и справа от контента;*/
    border:  5px;    /*— толщина границы слева и справа;*/
    margin: 5px;    /*— отступ слева и справа.*/
}
.skills {
    width: 100%;
max-width: 1024px;    /* ширина контента, т.е. содержимого блока; */
    padding: 10px;    /*— поле слева и справа от контента;*/
    border:  5px;    /*— толщина границы слева и справа;*/
    margin: 5px;    /*— отступ слева и справа.*/
}
.more-information {
    width: 100%;
max-width: 1024px;   /* ширина контента, т.е. содержимого блока; */
    padding: 10px;    /*— поле слева и справа от контента;*/
    border:  5px;    /*— толщина границы слева и справа;*/
    margin: 5px;    /*— отступ слева и справа.*/
}
.code-example {
    width: 100%;
max-width: 1024px;    /* ширина контента, т.е. содержимого блока; */
    padding: 10px;    /*— поле слева и справа от контента;*/
    border:  5px;    /*— толщина границы слева и справа;*/
    margin: 5px;    /*— отступ слева и справа.*/
}